<form ng-submit="editor.save()" name="form">
  <div ng-if="editor.scriptingLangs.length === 0" class="hintbox">
    <p>
      <i class="fa fa-danger text-danger"></i>
      <strong>
        <span i18n-id="common.ui.fieldEditor.scriptingDisabled.header" i18n-default-message="Scripting disabled:"></span>
      </strong>
      <span
        i18n-id="common.ui.fieldEditor.scriptingDisabled.label"
        i18n-default-message="All inline scripting has been disabled in Elasticsearch. You must enable inline scripting for at least one language in order to use scripted fields in Kibana."
      ></span>
    </p>
  </div>
  <div ng-if="editor.creating" class="form-group">
    <label for="scriptedFieldName" class="kuiFormLabel"
           i18n-id="common.ui.fieldEditor.name.label"
           i18n-default-message="Name"></label>
    <input
      ng-model="editor.field.name"
      id="scriptedFieldName"
      required
      placeholder="{{'common.ui.fieldEditor.scriptedField.placeholder' | i18n: { defaultMessage: 'New Scripted Field' } }}"
      input-focus
      class="form-control"
      data-test-subj="editorFieldName">
  </div>
  <div ng-if="editor.creating && editor.existingFieldNames.includes(editor.field.name)" class="hintbox">
    <p>
      <i class="fa fa-danger text-danger"></i>
      <strong i18n-id="common.ui.fieldEditor.mappingConflict.header" i18n-default-message="Mapping Conflict:"></strong>
      <span i18n-id="common.ui.fieldEditor.mappingConflict.label"
            i18n-default-message="You already have a field with the name {fieldName}. Naming your scripted field with the same name means you won't be able to query both fields at the same time."
            i18n-values="{ fieldName: editor.field.name }"
      ></span>
    </p>
  </div>

  <div ng-if="editor.field.scripted" class="form-group">
    <label for="scriptedFieldLang" class="kuiFormLabel"
           i18n-id="common.ui.fieldEditor.lang.label"
           i18n-default-message="Language"></label>
    <div class="kuiInfoPanel kuiInfoPanel--warning kuiVerticalRhythm" ng-if="editor.field.lang && editor.isDeprecatedLang(editor.field.lang)">
      <div class="kuiInfoPanelHeader">
        <span
          class="kuiInfoPanelHeader__icon kuiIcon kuiIcon--warning fa-bolt"
          aria-label="{{'common.ui.fieldEditor.lang.warning.aria' | i18n: { defaultMessage: 'Warning' } }}"
          role="img"
        ></span>
        <span class="kuiInfoPanelHeader__title"
              i18n-id="common.ui.fieldEditor.lang.warning.header"
              i18n-default-message="Deprecation Warning">
        </span>
      </div>

      <div class="kuiInfoPanelBody">
        <div class="kuiInfoPanelBody__message">
          <span i18n-id="common.ui.fieldEditor.lang.warning.label.detail"
                i18n-default-message="{lang} is deprecated and support will be removed in the next major version of Kibana and Elasticsearch. We recommend using {recommendedLang} for new scripted fields."
                i18n-values="{ lang: '<span class=\'text-capitalize\'>' + editor.field.lang + '</span>',
                recommendedLang: '<a class=\'kuiLink\' ng-href=\'{{editor.docLinks.painless}}\' i18n-id=\'common.ui.fieldEditor.lang.warning.label.painless\' i18n-default-message=\'Painless\'></a>' }"
          ></span>
        </div>
      </div>
    </div>
    <select
      ng-model="editor.field.lang"
      id="scriptedFieldLang"
      ng-options="lang as lang for lang in editor.scriptingLangs"
      required
      class="form-control kuiVerticalRhythm"
      data-test-subj="editorFieldLang">
      <option value=""
              i18n-id="common.ui.fieldEditor.selectLang.dropDown"
              i18n-default-message="-- Select Language --"></option>
    </select>
  </div>

  <div class="form-group">
    <label for="scriptedFieldType" class="kuiFormLabel"
           i18n-id="common.ui.fieldEditor.type.label"
           i18n-default-message="Type"></label>
    <select
      ng-if="editor.field.scripted"
      id="scriptedFieldType"
      ng-model="editor.field.type"
      ng-options="type as type for type in editor.fieldTypes"
      class="form-control"
      data-test-subj="editorFieldType">
    </select>
    <input
      ng-if="!editor.field.scripted"
      id="scriptedFieldType"
      ng-model="editor.field.type"
      readonly
      class="form-control">
  </div>

  <div class="form-group">
    <span class="pull-right text-warning hintbox-label" ng-click="editor.showFormatHelp = !editor.showFormatHelp">
      <i class="fa fa-warning"></i>
      <span class="kuiInfoPanelHeader__title"
            i18n-id="common.ui.fieldEditor.format.warning.label"
            i18n-default-message="Warning"></span>
    </span>

    <label for="scriptFieldFormat" class="kuiFormLabel">
      <span i18n-id="common.ui.fieldEditor.format.label" i18n-default-message="Format"></span>
      <small>
        <span class="kuiInfoPanelHeader__title"
              i18n-id="common.ui.fieldEditor.format.default.label"
              i18n-default-message="(Default: {formatType})"
              i18n-values="{ formatType: '<i>' + editor.defFormatType.resolvedTitle +'</i>' }"></span>
      </small>
    </label>

    <div class="hintbox" ng-if="editor.showFormatHelp">
      <h4 class="hintbox-heading">
        <i class="fa fa-warning text-warning"></i>
        <span i18n-id="common.ui.fieldEditor.format.warning.header"
              i18n-default-message="Format Warning"></span>
      </h4>

      <p id="scriptFieldWarningCopy"
         i18n-id="common.ui.fieldEditor.format.warning.detail.label"
         i18n-default-message="Formatting allows you to control the way that specific values are displayed. It can also cause values to be completely changed and prevent highlighting in Discover from working.">
      </p>
    </div>

    <select
      ng-model="editor.selectedFormatId"
      id="scriptFieldFormat"
      ng-options="format.id as format.title for format in editor.fieldFormatTypes"
      class="form-control"
      aria-describedby="scriptFieldWarningCopy"
      data-test-subj="editorSelectedFormatId">
    </select>
    <fieldset
      field-format-editor
      ng-if="editor.selectedFormatId"
      field="editor.field"
      format-params="editor.formatParams">
    </fieldset>
  </div>

  <div class="form-group">
    <label for="editorFieldCount" class="kuiFormLabel"
           i18n-id="common.ui.fieldEditor.popularity.label"
           i18n-default-message="Popularity"></label>
    <div class="kuiFieldGroup">
      <div class="kuiFieldGroupSection">
        <input
          ng-model="editor.field.count"
          id="editorFieldCount"
          type="number"
          class="form-control"
          data-test-subj=editorFieldCount
        >
      </div>

      <div class="kuiFieldGroupSection">
        <div class="kuiButtonGroup kuiButtonGroup--united">
          <button
            data-test-subj="fieldIncreasePopularityButton"
            type="button"
            ng-click="editor.field.count = editor.field.count + 1"
            aria-label="{{'common.ui.fieldEditor.popularity.aria' | i18n: {defaultMessage: 'Increment popularity'} }}"
            class="kuiButton kuiButton--basic"
          >
            <span
              aria-hidden="true"
              class="kuiIcon fa-plus"
            ></span>
          </button>

          <button
            type="button"
            ng-click="editor.field.count = editor.field.count - 1"
            aria-label="{{'common.ui.fieldEditor.popularity.button.aria' | i18n: { defaultMessage: 'Decrement popularity' } }}"
            class="kuiButton kuiButton--basic"
          >
            <span
              aria-hidden="true"
              class="kuiIcon fa-minus"
            ></span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div ng-if="editor.field.scripted">
    <div class="form-group">
      <label for="scriptedFieldScript" class="kuiFormLabel"
             i18n-id="common.ui.fieldEditor.script.label"
             i18n-default-message="Script"></label>
      <textarea
        required
        class="field-editor_script-input form-control text-monospace"
        id="scriptedFieldScript"
        ng-model="editor.field.script"
        data-test-subj="editorFieldScript"
      ></textarea>
    </div>

    <div class="euiCallOut euiCallOut--warning">
      <div class="euiCallOutHeader">
        <span class="euiCallOutHeader__title"
              i18n-id="common.ui.fieldEditor.proceed.header"
              i18n-default-message="Proceed with caution"></span>
      </div>
      <div class="euiText euiText--small">
        <p i18n-id="common.ui.fieldEditor.proceed.label.detail"
           i18n-default-message="Please familiarize yourself with {scriptFields} and with {scriptInAggregation} before using scripted fields."
           i18n-values="{ scriptFields: '<a target=\'_window\' documentation-href=\'scriptedFields.scriptFields\'><span i18n-id=\'common.ui.fieldEditor.proceed.label.scriptFields\' i18n-default-message=\'script fields\'></span> <i class=\'fa-link fa\'></i></a>',
           scriptInAggregation: '<a target=\'_window\' documentation-href=\'scriptedFields.scriptAggs\'><span i18n-id=\'common.ui.fieldEditor.proceed.label.scriptInAggregation\' i18n-default-message=\'scripts in aggregations\'></span> <i class=\'fa-link fa\'></i></a>' }">
        </p>

        <p i18n-id="common.ui.fieldEditor.proceed.detail.label"
          i18n-default-message="Scripted fields can be used to display and aggregate calculated values. As such, they can be very slow, and if done incorrectly, can cause Kibana to be unusable. There's no safety net here. If you make a typo, unexpected exceptions will be thrown all over the place!">
        </p>
      </div>
    </div>

    <div class="euiSpacer euiSpacer--m"></div>

    <div class="euiCallOut euiCallOut--primary">
      <div class="euiCallOutHeader">
        <span class="euiCallOutHeader__title"
              i18n-id="common.ui.fieldEditor.help.header"
              i18n-default-message="Scripting Help"></span>
      </div>
      <div class="euiText euiText--small">
        <p i18n-id="common.ui.fieldEditor.help.scriptedFields.label.detail"
           i18n-default-message="By default, Kibana scripted fields use {painless}, a simple and secure scripting language designed specifically for use with Elasticsearch. To access values in the document use the following format:"
           i18n-values="{ painless: '<a target=\'_window\' documentation-href=\'scriptedFields.painless\'><span i18n-id=\'common.ui.fieldEditor.help.scriptedFields.label.painless\' i18n-default-message=\'Painless\'></span> <i class=\'fa-link fa\'></i></a>' }">
        </p>

        <p><code i18n-id="common.ui.fieldEditor.help.format.label"
                 i18n-default-message="doc['some_field'].value"></code></p>

        <p i18n-id="common.ui.fieldEditor.help.painless.label.detail"
           i18n-default-message="Painless is powerful but easy to use. It provides access to many {apis}. Read up on its {syntax} and you'll be up to speed in no time!"
           i18n-values="{ apis: '<a target=\'_window\' documentation-href=\'scriptedFields.painlessApi\'><span i18n-id=\'common.ui.fieldEditor.help.painless.label.apis\' i18n-default-message=\'native Java APIs\'></span> <i class=\'fa-link fa\'></i></a>',
           syntax: '<a target=\'_window\' documentation-href=\'scriptedFields.painlessSyntax\'><span i18n-id=\'common.ui.fieldEditor.help.painless.label.syntax\' i18n-default-message=\'syntax\'></span> <i class=\'fa-link fa\'></i></a>' }">
        </p>

        <p i18n-id="common.ui.fieldEditor.help.limit.label"
           i18n-default-message="Kibana currently imposes one special limitation on the painless scripts you write. They cannot contain named functions.">
        </p>

        <p i18n-id="common.ui.fieldEditor.help.lucene.common.label.detail"
           i18n-default-message="Coming from an older version of Kibana? The {lucene} you know and love are still available. Lucene expressions are a lot like JavaScript, but limited to basic arithmetic, bitwise and comparison operations."
           i18n-values="{ lucene: '<a target=\'_window\' documentation-href=\'scriptedFields.luceneExpressions\'><span i18n-id=\'common.ui.fieldEditor.help.painless.label.lucene\' i18n-default-message=\'Lucene Expressions\'></span> <i class=\'fa-link fa\'></i></a>' }">
        </p>

        <p i18n-id="common.ui.fieldEditor.help.lucene.limits.label"
           i18n-default-message="There are a few limitations when using Lucene Expressions:">
        </p>
        <ul>
          <li i18n-id="common.ui.fieldEditor.help.lucene.limits.types.label"
              i18n-default-message="Only numeric, boolean, date, and geo_point fields may be accessed"></li>
          <li i18n-id="common.ui.fieldEditor.help.lucene.limits.fields.label"
              i18n-default-message="Stored fields are not available"></li>
          <li i18n-id="common.ui.fieldEditor.help.lucene.limits.sparse.label"
              i18n-default-message="If a field is sparse (only some documents contain a value), documents missing the field will have a value of 0"></li>
        </ul>

        <p i18n-id="common.ui.fieldEditor.help.lucene.operations.label"
           i18n-default-message="Here are all the operations available to lucene expressions:">
        </p>
        <ul>
          <li> Arithmetic operators: + - * / % </li>
          <li> Bitwise operators: | & ^ ~ << >> >>> </li>
          <li> Boolean operators (including the ternary operator): && || ! ?: </li>
          <li> Comparison operators: < <= == >= > </li>
          <li> Common mathematic functions: abs ceil exp floor ln log10 logn max min sqrt pow </li>
          <li> Trigonometric library functions: acosh acos asinh asin atanh atan atan2 cosh cos sinh sin tanh tan </li>
          <li> Distance functions: haversin </li>
          <li> Miscellaneous functions: min, max </li>
        </ul>
      </div>
    </div>

  </div>

  <div class="euiSpacer euiSpacer--l"></div>

  <div  ng-if="editor.conflictDescriptionsLength > 0">
    <p>
      <i class="fa fa-warning text-warning"></i>
      <strong i18n-id="common.ui.fieldEditor.fieldTypeConflict.header"
              i18n-default-message="Field Type Conflict:"></strong>
      <span i18n-id="common.ui.fieldEditor.fieldTypeConflict.label"
            i18n-default-message="The type of this field changes across indices. It is unavailable for many analysis functions. The indices per type are as follows:"></span>
      <table class="table">
      <thead>
        <th scope="col" i18n-id="common.ui.fieldEditor.fieldTypeConflict.type.header"
            i18n-default-message="Field Type"></th>
        <th scope="col" i18n-id="common.ui.fieldEditor.fieldTypeConflict.name.header"
            i18n-default-message="Index Names"></th>
      </thead>
      <tbody>
      <tr ng-repeat="(type, indices) in editor.field.conflictDescriptions">
        <td>{{type}}</td> <td>{{indices.join(', ')}}</td>
      </tr>
      </tbody>
      </table>
    </p>
  </div>

  <div class="form-group">
    <button
      type="button"
      ng-if="editor.field.scripted && !editor.creating"
      ng-click="editor.delete()"
      aria-label="{{'common.ui.fieldEditor.delete.aria' | i18n: {defaultMessage: 'Delete'} }}"
      class="kuiButton kuiButton--danger"
      i18n-id="common.ui.fieldEditor.delete.button"
      i18n-default-message="Delete Field"
    >
    </button>

    <button
      ng-if="editor.creating"
      data-test-subj="fieldSaveButton"
      ng-disabled="form.$invalid"
      type="submit"
      aria-label="{{ 'common.ui.fieldEditor.create.aria' | i18n: {defaultMessage: 'Create Field'} }}"
      class="kuiButton kuiButton--primary"
      i18n-id="common.ui.fieldEditor.create.button"
      i18n-default-message="Create Field"
    >
    </button>
    <button
      ng-if="!editor.creating"
      data-test-subj="fieldSaveButton"
      ng-disabled="form.$invalid"
      type="submit"
      aria-label="{{ 'common.ui.fieldEditor.update.aria' | i18n: { defaultMessage: 'Update Field' } }}"
      class="kuiButton kuiButton--primary"
      i18n-id="common.ui.fieldEditor.update.button"
      i18n-default-message="Update Field"
    >
    </button>

    <button
      data-test-subj="fieldCancelButton"
      type="button"
      ng-click="editor.cancel()"
      class="kuiButton kuiButton--hollow"
      i18n-id="common.ui.fieldEditor.cancel.button"
      i18n-default-message="Cancel"
    >
    </button>
  </div>
</form>
